<h1 class="prose-xl font-bold">
	Hello, <span x-text="$router.params?.name ?? 'what is your name?'"></span>
</h1>
<input
	type="text"
	@change="$router.redirect($event.target.value == 'home'? '/' : '/hello/'+$event.target.value)"
	:value="$router.params?.name ?? ''"
	placeholder="Write your name"
	class="p-3 focus:outline-none rounded-3xl max-w-full bg-hex-5FD3BC text-hex-0B2822 font-bold text-center my-2"
/>
<!--alpine component inside views-->
<p
	class="tracking-tighter text-sm font-bold"
	x-data="{text:'Tip: write \'home\' to go to the home page.'}"
	x-text="text"
></p>
