<h1 class="font-bold prose-lg">Views middleware Usage Example</h1>
<div
	class="flex flex-col space-y-3 p-3 all-child:bg-hex-5FD3BC all-child:p-2 font-bold prose-sm text-hex-0B2822 all-child:rounded-3xl"
>
	<a href="/hello">Hello World</a>
	<a href="/test">A non-existing route</a>
</div>
<div class="flex flex-col space-y-2 max-w-full">
	<div class="flex space-x-3 justify-center">
		<a
			class="rounded-3xl bg-hex-0B2822 text-white p-3 mt-3 text-sm tracking-tighter"
			href="https://pinecone-router.github.io/router/"
			target="_blank"
			>Pinecone Documentation</a
		>
		<a
			class="rounded-3xl bg-hex-0B2822 text-white p-3 mt-3 text-sm tracking-tighter"
			href="https://pinecone-router.github.io/middleware-views/"
			target="_blank"
			>Middlewares Documentation</a
		>
	</div>
	<div class="flex space-x-3 justify-center">
		<a
			class="rounded-3xl bg-hex-0B2822 text-white p-3 mt-3 text-sm tracking-tighter"
			href="https://github.com/rehhouari/pinecone-example-views"
			target="_blank"
			>Example Source</a
		>
		<a
			class="rounded-3xl bg-hex-0B2822 text-white p-3 mt-3 text-sm tracking-tighter"
			href="https://github.com/pinecone-router/router/discussions"
			target="_blank"
			>Ask questions</a
		>
		<a
			class="rounded-3xl bg-hex-0B2822 text-white p-3 mt-3 text-sm tracking-tighter"
			href="https://github.com/pinecone-router/router/issues"
			target="_blank"
			>Report bugs</a
		>
	</div>
</div>
